<!doctype html>
<html>
<head>
  <title>darkfi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" type = "text/css" href = "../static/css/main2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
  <div>
    <header>
      {% include 'header.html' %}
    </header>

   <div class = "article-image">
     <p><img src= "{{ page.img }}" class ="content-img"></p>
     <div class ="text">
       <h1>{{ page.title }}</h1>
     </div>

    <div class= "article">
     <div class="list">
             <div class="frame15">
             <div class="line10"></div>
             <a>{{ page.list1 }}</a>
             <div class="line11"></div>
             </div>
             <div class="frame17">
             <div class="line12"></div>
             <a class = "remove-underline" href = "url" style="color: #7F8A96;">{{ page.list2 }}</a>
             <div class="line13"></div>          
             </div>
             <div class="frame18">
             <div class="line14"></div>
             <a>{{ page.list3 }}</a>
             <div class="line15"></div>            
             </div>
     </div>
    
     <div class = "container">
         {{ page.html|safe }}
     </div>
  
    </div>
   </div>

   <div class = "go-to-article">
  
       {% if items %}
        
         <span class = "previous-article">
              <a class = "remove-underline" href="{{ prev[1] }}"><p>(Previous article)</p></a>
         </span>        
       {% endif %}
       {% if items %}
         <span class = "next-article">
              <a class ="remove-underline" href="{{ next[1] }}"><p>(Next article)</p></a>      
         </span>
       {% endif %}
   </div>
   

   <footer>
      {% include 'footer.html' %}
   </footer>

  </div>
</body>
